/*CABEÇALHO*/

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center; /*afasta do topo*/
    position: fixed;
    top: 0; /*fixou cabeçalho no topo*/
}

.cabecalho__pesquisar__item {
    display: none; /*faz sumir do projeto para aparecer somente quando chamado*/
}

/* MENU */

.menu__container {
   position: fixed; 
   bottom: 0%; /*fixou embaixo*/
   height: 74px;
   width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center; /*com essa propriedade é possível colocar os ítens de forma individual, onde quiser, ex: start, end */
}

.menu__itens {
 display: flex;   
 flex-direction: column;
 gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}


/* SUPERIOR SEÇÃO */
.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll; /*cria barra ed rolagem*/
    gap: 15px; /*espaçamento entre itens*/
}

/* RODAPÉ */
.rodape__container {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap; /*quebra as colunas*/
    flex-flow: column wrap;

}

@media (min-width:834px) {

    /*CABEÇALHO*/

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */
    
    .rodape__container {
        justify-content: space-between;
    }

    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }
    
    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }
}